    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Pinterest</a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
              <div class="input-group-addon">Pinterest</div>
                <input type="text" class="form-control" ng-model="searchAllPins" placeholder="Search" ng-model="searchitems" size="45">
              <!-- <div class="input-group-addon">x</div> -->
            </div>
            <button ng-click="submitSearch()" class="btn btn-default" >Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Username</a></li>
            <li><button ng-click="logout()" class="btn btn-default">Logout</button></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <div ui-view></div>


  





   <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg add-pin-btn" data-toggle="modal" data-target="#myModal">
      +
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Upload a Pin</h4>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" placeholder="Add url" ng-model="url" size="30">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="uploadPin()">Save</button>
          </div>
        </div>
      </div>
    </div> 